<template>
  <div class="about">
    <h1>{{ message }}</h1>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      message: 'An important message from your server...'
    }
  },

  created() {
    axios
      .get('/api/hello-world-message')
      .then(response => {
          var message = response.data.message;
          this.message = message;
      });
  }
}
</script>